.list-group-item {
    border: none !important;
}

#sidebar-container {
    height: 100vh;
    padding: 0px;
    z-index: 1000;
}

.list-group {
    height: 100%;
    background-color: #f6abb6;
}

.list-group a {
    color: white;
    background-color: #f6abb6;
}

.line {
    padding: 0px;
}

.line hr {
    height: 1px;
    width: 100%;
    background-color: white;
}

.img-wrapper {
    background-color: #f6abb6;
    border-radius: 5px;
    border: 3px solid black;
}

.img-wrapper img {
    border: solid black;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    transform: scale(0.9);
}

.home-line {
    margin: 20px 70px;
    margin-top: 3rem;
    height: 3px;
    background-color: #f6abb6;
    width: 100%;
}
.container{
    overflow: hidden;
}